<link rel="stylesheet" href="/css/footer.css">

<div class="about-section" id="abt">
    <h1 style="font-family: sans-serif; color: rgb(247, 197, 197); text-decoration: underline;">About Us</h1>
    <p>EzzyBuy is developed to ensure the quality and feasibility of the items sold across India.</p>
    <p>EzzyBuy is an E-Commerce Website which offers huge discounts on the multiple products.</p>
    <p>It is one stop solution for buying any kind of products with high quality at cheaper rates.</p>
    <p>It has the capabilities of delivering product across any region in India.</p>
</div>

<footer class="footer" id="contact_us">
    <div class="footer-container">
     <div class="footer-row">
       <div class="footer-col">
         <h3>Company</h3>
         <ul>
           <li style="font-size: medium; text-decoration: underline;">Mail us:</li>
           <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" style="text-decoration: none;">ezzybuy@gmail.com</a></li>
           <li style="font-size: medium; text-decoration: underline;">Registered Office Address:</li>
           <li>&nbsp;&nbsp;&nbsp;&nbsp;H.1421, B-Block, Sawant</li>
           <li>&nbsp;&nbsp;&nbsp;&nbsp;Model Town</li>
           <li>&nbsp;&nbsp;&nbsp;&nbsp;Delhi</li>
         </ul>
       </div>
       <div class="footer-col">
         <h3>Get Help</h3>
         <ul>
           <li><a href="#">Profile</a></li>
           <li><a href="#">Review a product</a></li>
           <li><a href="#">Cart</a></li>
           <li><a href="#abt">About Us</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h3>Follow Us</h3>
         <div class="social-links">
           <a href="https://facebook.com" target="_blank"><img src="https://cdn.iconscout.com/icon/free/png-512/free-facebook-1464523-1239437.png?f=avif&w=256" alt=""></a>
           <a href="https://instagram.com" target="_blank"><img src="https://cdn.iconscout.com/icon/free/png-512/free-instagram-1464521-1239436.png?f=avif&w=256" alt=""></a>
           <a href="https://twitter.com" target="_blank"><img src="https://cdn.iconscout.com/icon/free/png-512/free-twitter-1464537-1239448.png?f=avif&w=256" alt=""></a>
         </div>
       </div>
     </div>
    </div>
    <div id="copyright">
      Copyright by <a href="#" style="color: #bbbbbb;">EzzBuy</a> Pvt. Ltd. @ 2023.
    </div>
</footer>