<link rel="stylesheet" href="/css/header.css">

<div id="header">
    <div id="logo">
        <img src="/images/logo.jpg" alt="" style="height: 90%; width: 100%;">
    </div>
    <div id="link">
        <ul id="links">
            <li><a href="/">Home</a></li>
            <li><a href="#abt">About Us</a></li>
            <li><a href="#contact_us">Contact Us</a></li>
        </ul>
    </div>
    <div id="search">
        <input type="text" placeholder="Search for items..." id="search_item" style="height: 70%; width: 100%;">
        <div id="searchoptions">
            <ul>
                <li class="options" id="iphone"><a href="/iphones">iPhone</a></li>
                <li class="options" id="clothing"><a href="">Clothing for Women</a></li>
                <li class="options" id="refrigerator"><a href="">Refrigerator</a></li>
                <li class="options" id="sports"><a href="">Sports</a></li>
                <li class="options" id="samsung"><a href="/samsung">Samsung</a></li>
                <li class="options" id="samsung"><a href="">One Plus</a></li>
                <li class="options" id="gym"><a href="">Gym</a></li>
                <li class="options" id="hplaptops"><a href="">HP Laptops</a></li>
                <li class="options" id="boatairdopes"><a href="">Boat Airdopes</a></li>
            </ul>
        </div>
    </div>
    <div id="searchicon">
        <button id="btn"><img src="https://cdn.iconscout.com/icon/free/png-512/free-search-1767866-1502119.png?f=avif&w=256" alt="" style="height: 70%; width: 100%;"></button>
    </div>
    <div id="others">
        <% if(locals.user){ %>
            <a href="/users/profile"><button type="button" class="btn btn-light" id="loginbtn" style="width:50%">Profile</button></a>
        <% }else{ %>
            <a href="/users/signin"><button type="button" class="btn btn-outline-info" id="loginbtn" style="width:50%">LOGIN</button></a>
        <% } %>
        <a href="/users/cartshow"><img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/cart-1426700-1205358.png?f=avif&w=256" alt=""></a>
    </div>
</div>

<script src="/js/header.js"></script>