<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <a href="#phn"><img src="https://rukminim2.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100" alt=""></a>
        <div>
            Mobile Phones
        </div>
      </div>
      <div class="col">
        <a href="#ele"><img src="https://rukminim2.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt=""></a>
        <div>
            Electronics
        </div>
      </div>
      <div class="col">
        <a href="#fsh"><img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/0d75b34f7d8fbcb3.png?q=100" alt=""></a>
        <div>
            Fashion
        </div>
      </div>
      <div class="col">
        <a href="#sandf"><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/exercise-bike/w/f/k/-original-imagzjcvxsdf4h4n.jpeg?q=70" alt=""></a>
        <div>
            Sports & Fitness
        </div>
      </div>
      <div class="col">
        <a href="#app"><img src="https://rukminim2.flixcart.com/flap/128/128/image/0ff199d1bd27eb98.png?q=100" alt=""></a>
        <div>
            Appliances
        </div>
      </div>
    </div>
</div>

<div class="contain">
    <img class="imgs" src="images/sales_slide4.jpg">
    <img class="imgs" src="images/sales_slide3.jpg">
    <img class="imgs" src="images/sales_slide1.jpg">
    <img class="imgs" src="images/sales_slide2.png">
  
    <button class="arrowleft" onclick="plusDivs(-1)">&#10094;</button>
    <button class="arrowright" onclick="plusDivs(1)">&#10095;</button>
</div>

<div class="list" id="phn" style="background-color: rgb(112, 193, 196);">
    <h3>Top Offers On Mobile Phones</h3>
</div>
<div id="phones">
    <div class="phone">
        <a href="/iphones"><img src="images/phones1.jpg" alt=""></a>
        <div>
            IPhone 14
            <br>
            Upto 50% off
        </div>
    </div>
    <div class="vl1"></div>
    <div class="phone">
        <a href="/samsung"><img src="images/phones2.jpg" alt=""></a>
        <div>
            Samsung Z Flip3
            <br>
            Upto 40% off
        </div>
    </div>
    <div class="vl1"></div>
    <div class="phone">
        <a href="/oneplus"><img src="images/phones3.jpg" alt=""></a>
        <div>
            Oneplus Nord 3
            <br>
            Upto 60% off
        </div>
    </div>
    <div class="vl1"></div>
    <div class="phone">
        <a href="/iphones"><img src="images/phones4.jpg" alt=""></a>
        <div>
            Iphone 12
            <br>
            Upto 50% off
        </div>
    </div>
    <div class="vl1"></div>
    <div class="phone">
        <a href="/samsung"><img src="images/phones5.jpg" alt=""></a>
        <div>
            Galaxy S23
            <br>
            Upto 40% off
        </div>
    </div>
    <div class="vl1"></div>
    <div class="phone">
        <a href="/oneplus"><img src="images/phones6.jpg" alt=""></a>
        <div>
            Oneplus Nord 2T
            <br>
            Upto 60% off
        </div>
    </div>
</div>

<hr>

<div class="list" id="ele" style="background-color: rgb(209, 139, 73);">
    <h3>Top Offers On Electronics</h3>
</div>
<div id="electronics">
    <div class="electronic">
        <a href="/macbook"><img src="images/electronics1.jpg" alt=""></a>
        <div>
            Macbook
            <br>
            Upto 30% off
        </div>
    </div>
    <div class="vl2"></div>
    <div class="electronic">
        <a href=""><img src="images/electronics2.jpg" alt=""></a>
        <div>
            Hp Laptops
            <br>
            Upto 40% off
        </div>
    </div>
    <div class="vl2"></div>
    <div class="electronic">
        <a href="/boat"><img src="images/electronics3.jpg" alt=""></a>
        <div>
            Boat Airdopes
            <br>
            Upto 60% off
        </div>
    </div>
    <div class="vl2"></div>
    <div class="electronic">
        <a href=""><img src="images/electronics4.jpg" alt=""></a>
        <div>
            Noise Headphones
            <br>
            Upto 40% off
        </div>
    </div>
</div>

<hr>

<div class="list" id="fsh" style="background-color: rgb(241, 113, 241);">
    <h3>Top Offers On Fashion</h3>
</div>
<div id="fashion">
    <div class="fash">
        <a href="/men"><img src="images/fashion1.jpg" alt=""></a>
        <div>
            Men's Clothing
            <br>
            Upto 40% off
        </div>
    </div>
    <div class="vl3"></div>
    <div class="fash">
        <a href=""><img src="images/fashion2.jpg" alt=""></a>
        <div>
            Women's Clothing
            <br>
            Upto 40% off
        </div>
    </div>
    <div class="vl3"></div>
    <div class="fash">
        <a href=""><img src="images/fashion3.jpg" alt=""></a>
        <div>
            Kids' Store
            <br>
            Upto 50% off
        </div>
    </div>
</div>

<img src="images/poster1.jpg" alt="" style="width: 100%; margin: 2% 0;">

<div class="list" id="sandf" style="background-color: rgb(81, 235, 209);">
    <h3>Top Offers On Sports & Fitness</h3>
</div>
<div id="sportsfitness">
    <div class="sport">
        <a href=""><img src="images/sandf1.jpg" alt=""></a>
        <div>
            Gym Equipments
            <br>
            Upto 30% off
        </div>
    </div>
    <div class="vl4"></div>
    <div class="sport">
        <a href=""><img src="images/sandf2.jpg" alt=""></a>
        <div>
            Sports Items
            <br>
            Upto 40% off
        </div>
    </div>
    <div class="vl4"></div>
    <div class="sport">
        <a href=""><img src="images/sandf3.jpg" alt=""></a>
        <div>
            Dumbles
            <br>
            Upto 50% off
        </div>
    </div>
</div>

<img src="images/poster2.jpg" alt="" style="width: 100%; margin: 2% 0;">

<div class="list" id="app" style="background-color: rgb(241, 205, 87);">
    <h3>Top Offers On Appliances</h3>
</div>
<div id="appliances">
    <div class="appliance">
        <a href=""><img src="images/appliances1.jpg" alt=""></a>
        <div>
            Refrigerators
            <br>
            Upto 40% off
        </div>
    </div>
    <div class="vl5"></div>
    <div class="appliance">
        <a href=""><img src="images/appliances2.jpg" alt=""></a>
        <div>
            Microwave Oven
            <br>
            Upto 30% off
        </div>
    </div>
    <div class="vl5"></div>
    <div class="appliance">
        <a href=""><img src="images/appliances3.jpg" alt=""></a>
        <div>
            Washing Machine
            <br>
            Upto 50% off
        </div>
    </div>
</div>

<hr>

<script src="/js/home.js"></script>