<link rel="stylesheet" href="/css/user_sign_in.css">

<!-- <div class="logo1"><img  src="logo.jpg" alt=""></div>  -->
<div class="login-container">
    <div class="login">
        <h1 style="color: rgb(0, 0, 0);">LOGIN</h1>
    </div>
    
    <form action="/login" method="post">
        <div class="user">
            <h3>Username:</h3>
            <i class="fa fa-user"></i>
            <input type="text" style="color: black" name="username" id="us" placeholder="Enter your Username">
        </div>
        <div class="pwd">
            <h3>Password:</h3>
            <i class="fa fa-lock"></i>
            <input type="password" style="color: black;" name="password" id="pd" placeholder="Enter your password">
        </div>
        <div class="sub">
            <button class="btn1">Submit</button>
        </div>
    </form>
    <div class="signin">
        <h3 style="color: rgb(25, 23, 26);">--------------OR--------------</h3>
    </div>
    <div class="channel">
        <button type="button" class="btn btn-dark" style="width:50%">Sign in as Admin</button>
    </div>
    <div class="up" style="color: rgb(33, 31, 34);"> 
        Not have an account?<a href="signup"style="color:rgb(100, 33, 132);" class="signup1">&nbsp; Sign Up</a>
    </div>
</div>