;<link rel="stylesheet" href="/css/user_sign_in.css">

<div class="login-container">
    <div class="login">
        <h1 style="color: rgb(0, 0, 0);">SIGNUP</h1>
    </div>
    <form action="/users/create" method="post">
        <div class="user" style="margin-bottom: 2%; margin-top: -6%;">
            <h3>Username:</h3>
            <i class="fa fa-user"></i>
            <input type="text" name="name" id="us" placeholder="Enter your Username" required>
        </div>
        <div class="pwd" style="margin-bottom: 4%;">
            <h3>Password:</h3>
            <i class="fa fa-lock"></i>
            <input type="password" name="password" id="pd" placeholder="Enter your password" required>
        </div>
        <div class="mail" style="margin-bottom: 8%;">
            <h3>E-mail Id:</h3>
            <i class="fa fa-envelope"></i>
            <input type="email" name="email" id="email" placeholder="Enter your mail id" required>
        </div>
        <div class="address">
            <h3>Address:</h3>
            <textarea type="text" name="address" id="address" placeholder="Enter your address:" cols="30" rows="5" required></textarea>
        </div>
        <div class="sub">
            <button class="btn1" >Submit</button>
        </div>
    </form>
</div>