#header{
    width: 100%;
    height: 9%;
    background-color: rgba(6, 13, 17, 0.753);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: sticky;
}

#logo{
    width: 5%;
}

#search{
    width: 46%;
    position: relative;
}

#searchoptions{
    position: absolute;
}

#searchoptions li{
    font-size: medium;
    background-color: rgb(202, 190, 204);
    display: none;
}

#searchoptions a{
    text-decoration: none;
}

#searchoptions li:hover{
    background-color: whitesmoke;
}

#search_item{
    height: 70%;
    width: 100%;
}

#others{
    width: 14%;
    text-align: center;
    margin-right: 0.3%;
    position: relative;
}

#others img{
    margin-left: 6%;
    height:80%;
    width: 23%;
}

#link{
    width: 30%;
    margin: auto;
}

#btn{
    height:75%;
    background-color:rgb(235, 181, 81);
}

#links{
    list-style-type: none;
    display: flex;
    align-items: center;
}

#links li{
    margin: 5%;
}

#links li a{
    color: antiquewhite;
    text-decoration: none;
}

#links li a:hover{
    cursor: pointer;
    color: rgb(124, 204, 191);
}

@media screen and (max-width: 1050px){
    #search{
        width: 42%;
    }
    #link{
        width: 34%;
    }
}

@media screen and (max-width: 920px){
    #search{
        width: 31%;
    }
    #link{
        width: 39%;
        font-size: small;
    }
    #others{
        width: 20%;
    }
}

@media screen and (max-width: 700px){
    #search{
        width: 25%;
        font-size: small;
    }
    #link{
        width: 43%;
        font-size: smaller;
    }
    #loginbtn{
        font-size: small;
    }
    #others{
        width: 22%;
    }
}

@media screen and (max-width:610px){
    #link{
        width: 45%;
        font-size: x-small;
    }
    #loginbtn{
        font-size: x-small;
    }
    #others{
        width: 20%;
    }
}